:root {
    --primary: #acb9b8;
}

[data-theme="dark"] {
    --primary: #465352;
}

.navBarContainer {
    width: 100vw;
    height: 4vh;
    background-color: var(--primary);
    position: fixed;
    display: flex;
    flex-direction: row;
    
}