.header {
    width: 100vw;
    height: 5vh;
}

.contentContainer {
    display: flex;
    flex-direction: row;
}

.navBarContainer {
    flex: 10 0 0;
    width: 10vw;
    height: 90vh;
}

.navWrapper {
    background-color: black;
    width: 10vw;
    height: 90vh;
}

.mainLocationContainer {
    flex: 60 0 0;
    width: 60vw;
    height: 40vh;
}

.currentWeatherContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 126, 83);
    width: 60vw;
    height: 40vh;
    align-items: center;
    justify-content: space-evenly;

}

.currentWeatherWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: grey;
    border-radius: 20px;
    width: 96%;
    height: 80%;
}

.weatherInfo {
    display: flex;
    background-color: red;
    width: 60vw;
    height: 25vh;
    align-items: center;
    justify-content: center;
}

.weatherInfoWrapper {
    background-color: grey;
    border-radius: 20px;
    width: 96%;
    height: 90%;
}

.hourlyWeatherContainer {
    display: flex;
    background-color: blue;
    width: 60vw;
    height: 25vh;
    align-items: center;
    justify-content: center;
}

.hourlyWeatherWrapper {
    background-color: grey;
    border-radius: 20px;
    width: 96%;
    height: 90%;
}

.weeklyWeatherContainer {
    display: flex;
    background-color: aquamarine;
    flex: 30 0 0;
    width: 30vw;
    height: 90vh;
    justify-content: center;
    align-items: flex-end;
}

.weeklyWeatherWrapper {
    background-color: blueviolet;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    margin-bottom: 1vh;
}

.weeklyList {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchLocation {
    width: 80%;
}

.locationTitle {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
}

.locationCountry {
    margin-left: 5px;
    font-size: 1rem;
}

.locationDate {
    margin-left: 30px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}

#currentTemp {
    margin-left: 50px;
    margin-top: auto;
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
}

#feelsLike {
    margin-left: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.subTitle {
    margin-left: 25px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.informationContainer {
    margin: 0 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 70%;
}

.weekTitle {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.loaderWrapper {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.infoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.infoText {
    margin-left: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
}

.scrollableContainer {
    display: flex;
    margin: auto;
    width: 90%;
    height: 15vh;
    overflow-x: auto;
}