:root {
    --primary: #acb9b8;
}

[data-theme="dark"] {
    --primary: #465352;
}

.navBarContainer {
    width: 100vw;
    height: 4vh;
    background-color: var(--primary);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    z-index: 999;
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    .navBarContainer {
        height: 6.5vh;
    }
}

@media screen and (orientation: landscape) and (max-device-width: 920px){
    .navBarContainer {
        height: 8vh;
    }
}