.hourItemContainer {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
}

.itemWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hourlyHeader {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.hourlyIcon {
    height: auto;
    width: 3.5vw;
}

@media screen and (max-width: 961px) and (orientation: portrait){
    .hourlyIcon {
        width: 10vw;
    }
}

@media screen and (max-width: 540px) {
    .hourItemContainer {
        height: 95%;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .hourlyHeader {
        font-size: 1rem;
    }

    .hourlyIcon {
        width: 15vw;
    }
}
