.weatherItemContainer {
    width: 100%;
    height: 20%;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
}

#dayName {
    margin-left: 2vw;
}

.minMaxTemp {
    margin-right: 2vw;
}

#maxTemp {
    font-size: 1.1rem;
}

#minTemp {
    font-size: 1rem;
}

@media screen and (max-height: 1125px) {
    .weatherItemContainer {
        height: 12%;
    }
}

@media screen and (max-width: 500px) {
    .weatherItemContainer {
        height: 12%;
    }
}

@media screen and (orientation: landscape) and (max-device-width: 920px) {
    .weekIcon {
        width: 40%;
    }
}