.weatherItemContainer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
}

#dayName {
    margin-left: 10px;
}

.minMaxTemp {
    margin-right: 10px;
}

#maxTemp {
    font-size: 1.1rem;
}

#minTemp {
    font-size: 1rem;
}