:root {
    --background: #e3e8e5;
    --primary: #acb9b8;
    --secondary: #dfdedd;
    ---text-primary: #0a0a0a;
    --accent: #907a7d;
}

[data-theme="dark"] {
    --background: #171c19;
    --primary: #465352;
    --secondary: #161315;
    --text-primary: #ecefed;
    --accent: #856f72;
}

/* * {
    transition: all 0.3s ease-in-out;
} */

.container {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    background-color: var(--background);
}

.wrapper {
    width: 100%;
    height: auto;
    padding-top: 5vh;
}

.contentContainer {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text-primary);
    /*top: 3vh;*/
    background-color: var(--background);
}

.mainLocationContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* width: 55vw; */
    /* height: 80vh; */
    flex-basis: auto;
    height: auto;
    width: auto;

}

.currentWeatherContainer {
    display: flex;
    width: 55vw;
    height: 32vh;
    align-items: center;
    justify-content: center;
}

.currentWeatherWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    border-radius: 20px;
    width: 96%;
    height: 90%;
}

.weatherInfoContainer {
    display: flex;
    width: 55vw;
    height: 25vh;
    align-items: center;
    justify-content: center;
}

.weatherInfoWrapper {
    background-color: var(--primary);
    border-radius: 20px;
    width: 96%;
    height: 90%;
}

.hourlyWeatherContainer {
    display: flex;
    width: 55vw;
    height: 25vh;
    align-items: center;
    justify-content: center;
}

.hourlyWeatherWrapper {
    background-color: var(--primary);
    border-radius: 20px;
    width: 96%;
    height: 90%;
}

.weeklyWeatherContainer {
    display: flex;
    width: 25vw;
    height: 80vh;
    justify-content: center;
    align-items: flex-start;
}

.weeklyWeatherWrapper {
    background-color: var(--primary);
    width: 90%;
    height: 77vh;
    border-radius: 20px;
    margin-bottom: 1vh;
    margin-top: 1.6vh;
}

.weeklyList {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBarWrapper {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
}

.searchLocation {
    width: 50%;
    float: left;
    /*margin-top: 6vh;*/
    margin-left: 11vw;
    z-index: 2;
}

.locationTitle {
    margin-top: 2vh;
    margin-left: 2vw;
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
}

.locationCountry {
    margin-left: 1vw;
    font-size: 1rem;
}

.locationDate {
    margin-left: 2vw;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}

#currentTemp {
    margin-left: 4vw;
    margin-top: auto;
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
}

#feelsLike {
    margin-left: 4vw;
    margin-bottom: 4vh;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.subTitle {
    margin-left: 2vw;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.informationContainer {
    margin: 0 3vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 70%;
}

.weekTitle {
    margin-top: 1vw;
    margin-left: 2vw;
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.loaderWrapper {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.infoTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.infoText {
    margin-left: 3vw;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
}

.scrollableContainer {
    display: flex;
    margin: auto;
    width: 90%;
    height: 15vh;
    overflow: auto;
    scroll-behavior: smooth;
    /* scrollbar-width: none; */
}

.mainWeatherIcon {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    width: 50%;
    height: auto;
    margin-right: 2vw;
}

@media screen and (max-width: 1270px) {
    .locationTitle {
        margin-top: 2vh;
        margin-left: 2vw;
        margin-bottom: 0;
        font-size: 3rem;
    }
    
    .locationCountry {
        margin-left: 1vw;
        font-size: 1rem;
    }
    
    .locationDate {
        margin-left: 2vw;
    }
    
    #currentTemp {
        margin-left: 4vw;
        margin-top: auto;
        font-size: 4rem;
    }
    
    #feelsLike {
        margin-left: 4vw;
        margin-bottom: 4vh;
    }
    
    .subTitle {
        margin-left: 2vw;
        font-size: 1rem;
    }

    .weekTitle {
        margin-top: 1vw;
        margin-left: 2vw;
        margin-bottom: 0;
        font-size: 1.1rem;
    }

    .infoTitle {
        font-size: 0.9rem;
        margin-bottom: 1px;
    }

    .infoText {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 920px) {
    .container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        background-color: var(--background);
        overflow: auto;
    }

    .wrapper {
        width: 100%;
        height: auto;
        padding-top: 2vh;
    }

    .contentContainer {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
        margin-top: 1vh;
    }

    .currentWeatherContainer {
        display: flex;
        width: 100vw;
        height: 40vh;
        align-items: center;
        justify-content: center;
    }

    .currentWeatherWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        width: 96%;
        height: 90%;
    }

    .weatherInfoContainer {
        display: flex;
        width: 100vw;
        height: 30vh;
        align-items: center;
        justify-content: center;
    }

    .weatherInfoWrapper {
        border-radius: 20px;
        width: 96%;
        height: 100%;
    }

    .hourlyWeatherContainer {
        display: flex;
        width: 100vw;
        height: 25vh;
        align-items: center;
        justify-content: center;
    }

    .hourlyWeatherWrapper {
        border-radius: 20px;
        width: 96%;
        height: 90%;
    }

    .weeklyWeatherContainer {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: flex-end;
    }

    .weeklyWeatherWrapper {
        width: 96%;
        height: 98%;
        border-radius: 20px;
        margin-bottom: 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .weeklyList {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .searchBarWrapper {
        width: 100vw;
        height: 7vh;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        z-index: 2;
    }

    .searchLocation {
        width: 90%;
        margin: 0;
    }

    .locationTitle {
        margin-top: 2vh;
        margin-left: 5vw;
        margin-bottom: 0;
        font-size: 2.5rem;
    }

    .locationCountry {
        margin-left: 5px;
        font-size: 1rem;
    }

    .locationDate {
        margin-left: 5vw;
    }

    #currentTemp {
        margin-left: 10vw;
        font-size: 4rem;
    }

    #feelsLike {
        margin-left: 10vw;
        margin-bottom: 5vh;
    }

    .subTitle {
        margin-left: 25px;
        font-size: 1rem;
    }

    .informationContainer {
        margin: 0 5vw 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80%;
    }

    .weekTitle {
        margin-top: 1vw;
        margin-left: 2vw;
        margin-bottom: 0;
        font-size: 1.3rem;
    }

    .loaderWrapper {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .infoTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .infoText {
        margin-left: 30px;
        font-size: 0.9rem;
    }

    .scrollableContainer {
        display: flex;
        margin: auto;
        width: 90%;
        height: 15vh;
    }

    .mainWeatherIcon {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        width: 50%;
        height: auto;
        margin-right: 2vw;
    }
}

@media screen and (max-width: 670px) {
    .contentContainer {
        margin-top: 2vh;
    }

    .searchBarWrapper {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        margin-top: 46px;
        z-index: 2;
    }

    .currentWeatherWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        width: 90%;
        height: 90%;
    }

    .weatherInfoWrapper {
        border-radius: 20px;
        width: 90%;
        height: 100%;
    }

    #currentTemp {
        margin-left: 10vw;
        margin-top: auto;
        font-size: 3rem;
    }

    .weatherInfoContainer {
        height: 60vh;
    }

    .informationContainer {
        margin: 0 5vw 0;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 90%;
    }

    .hourlyWeatherContainer {
        display: flex;
        width: 100vw;
        height: 30vh;
        align-items: center;
        justify-content: center;
    }

    .hourlyWeatherWrapper {
        border-radius: 20px;
        width: 90%;
        height: 90%;
    }

    .weeklyWeatherWrapper {
        width: 90%;
    }
}